@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-3">
        <h2>Areas</h2>
        <ul>
            <li><a href="/Restaurant/Menu">Menu</a></li>
            <li><a href="/Restaurant/Hours">Hours</a></li>
        </ul>
    </div>
</div>
